{% extends 'admin/adminbase.html' %}
{% block content %}

<div class="table-agile-info"> 
      <div class="panel panel-default" style="margin-top: 5px;">
       
         <div class="panel-heading">
         Hall Details
         </div>
         <div>
           <table class="table" ui-jq="footable" ui-options='{
             "paging": {
               "enabled": true
             },
             "filtering": {
               "enabled": true
             },
             "sorting": {
               "enabled": true
             }}'>
             <thead>
               <tr>
                 <th  data-breakpoints="xs">Hall Number</th>
                 
                 <th>Capacity</th>
                 <th></th>
                 <th></th>
               </tr>
             </thead>
             <tbody>
                {% if ha %}
                {% for h in ha %}
               <tr data-expanded="true">
                
                <td>{{h.Hall_no}}</td>
                <td>{{h.Capacity}}</td>
                 
                  <td><a href="{% url 'hall_edit' h.id %}"><i class="fa fa-pencil" style="font-size: 2em;"></i></a></td>
                  <td><a href="{% url 'hall_delete' h.id %}" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash" style="font-size: 2em;color: red;"></i></a></td>
             
               </tr>
               {% endfor %}
              
               {% else %}
               <tr>
                <td colspan="7" style="text-align: center;">Hall details is empty</td>
               </tr>
               {% endif %}
             </tbody>
           </table>
         </div>
       </div>



    
{% endblock %}