{% extends 'admin/adminbase.html' %}
{% block content %}

<div class="table-agile-info">
    <div class="panel panel-default">
       <div class="panel-heading">
       Courses
       </div>
       <div>
         <table class="table" ui-jq="footable" ui-options='{
           "paging": {
             "enabled": true
           },
           "filtering": {
             "enabled": true
           },
           "sorting": {
             "enabled": true
           }}'>
           <thead>
             <tr>
               <th data-breakpoints="xs">ID</th>
               <th>Courses</th>
               <th></th>
               <th></th>
             </tr>
           </thead>
           <tbody>
            {% for c in course %}
             <tr data-expanded="true">
                <td>{{c.id}}</td>
                <td>{{c.course}}</td>
                <td><a href="{% url 'edit_course' c.id %}"><i class="fa fa-pencil" style="font-size: 2em;"></i></a></td>
                <td><a href="{% url 'delete_course' c.id %}" onclick="return confirm('Are you sure?')"><i class="fa fa-trash" style="font-size: 2em;color: red;"></i></a></td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
     <footer class="panel-footer">
        <div class="row">
          
          <div class="col-sm-5 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">
                Page{{course.number}} of {{course.paginator.num_pages }}.
            </small>
        </div>
        <div class="col-sm-7 text-right text-center-xs">                
            <ul class="pagination pagination-sm m-t-none m-b-none">
            {% if course.has_previous %}
            <li> <a href="?page=1">&laquo;</a></li>
           <li><a href="?page={{course.previous_page_number}}">{{course.previous_page_number}}</a></li> 

            {% endif %}

            {% for num in course.paginator.page_range %}
            {% if course.number == num %}
          <li><a href="" class="active">{{ num }}</a></li>  
            {% elif num > course.number|add:-5 and course < course.number|add:5 %} <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if course.has_next %}
               <li> <a href="?page={{ course.next_page_number }}">{{ course.next_page_number }}</a></li>
               <li><a href="?page={{ ca.paginator.num_pages }}"> &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
     </footer>
    </div>
   </div>

   {% if messages %}
   {% for m in messages %}
   <script>
    alert("{{m}}")
    </script>
{% endfor %}
{% endif %}


    {% endblock %}