{% extends 'teacher/teacherbase.html' %}

{% block content %}


    <script src="/static/web/js/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.btn_details').click(function(){
                var id=$(this).data('id')
                $.ajax({
                    url:"{% url 'teacher_exam_details' %}",
                    data:{'ex':id},
                    success:function(data)
                    {
                        $("#div_id").empty()
                        $("#div_id").append(data)
                    }
                })
            })
        })
    </script>
</head>
<body>



<div class="table-agile-info">
    <div class="panel panel-default">
       <div class="panel-heading">
       Exam Details
       </div>
       <div>
         <table class="table" ui-jq="footable" ui-options='{
           "paging": {
             "enabled": true
           },
           "filtering": {
             "enabled": true
           },
           "sorting": {
             "enabled": true
           }}'>
           <thead>
             <tr>
               <th data-breakpoints="xs">ID</th>
               <th>Exam Date</th>
               <th>Shift</th>
               <th>Hall Number</th>
             </tr>
           </thead>
           <tbody>
            {% for a in all %}

             <tr data-expanded="true">
                    <td>{{a.id}}</td>
                    <td>{{a.Date.Date_of_exam}}</td>
                    <td>{{a.Shift}}</td>
                    <td>{{a.Hallid.Hall_no}}</td>
                    <td><button class="btn_details btn btn-success" data-id="{{a.id}}">Exam Details</button></td>
                    <td><a href="{% url 'teacher_seating' a.Hallid.id a.Date.id %}" class="btn btn-primary">View Seating</a></td>
                </tr>
            {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
     <footer class="panel-footer">
        <div class="row">
          
          <div class="col-sm-5 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">
                Page{{all.number}} of {{all.paginator.num_pages }}.
            </small>
        </div>
        <div class="col-sm-7 text-right text-center-xs">                
            <ul class="pagination pagination-sm m-t-none m-b-none">
            {% if all.has_previous %}
            <li> <a href="?page=1">&laquo;</a></li>
           <li><a href="?page={{all.previous_page_number}}">{{all.previous_page_number}}</a></li> 

            {% endif %}

            {% for num in all.paginator.page_range %}
            {% if all.number == num %}
          <li><a href="" class="active">{{ num }}</a></li>  
            {% elif num > all.number|add:-5 and all < all.number|add:5 %} <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if all.has_next %}
               <li> <a href="?page={{ all.next_page_number }}">{{ all.next_page_number }}</a></li>
               <li><a href="?page={{ ca.paginator.num_pages }}"> &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
     </footer>
    <div id="div_id">
      
    </div>

    </div>





{% endblock %}